/*
** Base ------------------------------------------------
*/
body {
    font-family: 'Roboto', sans-serif;
    color: #505050;
}
.margin-top {
    margin-top: 20px;
}

.hero-margin-top {
    margin-top: 100px;
}

.margin-right {
    margin-right: 5px;
}

.margin-top-two {
    margin-top: 15pxs;
}

.gradient-text {
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, right top, from(#30CFD0), to(#330867));
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
  }
  
/** 
* Navbar ------------------------------------------------
*/
.bg-light {
    background-color: #ffffff !important;
    border-bottom: 1px solid #dfe4ea;
}

.navbar-brand {
    font-size: 30px;
}

/*
* Button ------------------------------------------------
*/
.btn.btn-outline-primary {
    border-color: #5352ed !important;
    color: #5352ed !important;
}
/* Primary color :Hover */
.btn.btn.btn-outline-primary:hover {
     background-color: #5352ed;
     color: #ffffff !important;
}

.btn.btn-success {
    background-color: #5352ed;
}

.btn.btn-white {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

/*
** Card ------------------------------------------------
*/
.card-block .btn-outline-primary {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  
  .card {
    margin: 20px 0;
  }
  
  .card-container {
    perspective: 700px;
  }
  .card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    background: white;
    border: none;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    border: none;
  }
  
  .card-flip .front {
    position: relative;
    z-index: 1;
  }
  
  .card-flip .back {
    position: relative;
    z-index: 0;
    transform: rotateY(-180deg);
  }
  
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
  }

  /* 
  ** Third Section ------------------------------------------------
  */
  section.third-section {
      background-image: url(/assets/img/section-third.jpg);
      background-repeat: no-repeat;
      color: #ffffff;
      width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment:fixed;
      padding: 15px;
  }
